@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    font-family: "Roboto", sans-serif;
    margin: 0 0 0 0;
    background-image: url(../assets/Background.jpg);
    background-size: cover;
    min-width: 1200px;
    min-height: 600px;
}

div#header{
    width: 100%;
    height: 64px;
    background-color: #15004c;
    opacity: 0.6;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

a{
    color: white;
    text-decoration:none;
}

ul{
    margin-left: -40px;
}

li.nav{
    display: inline-block;
    color: white;
    margin-top: 0px;
    vertical-align: middle;
}

li#navimg{
    padding-bottom: 0px
    height: 100%;
    margin-top: -18px;
}

li#navleft{
    margin-right: 39%;
}


li#navright{
    margin-left: 39%;
}

div#main_div{
    background: white;
    opacity: 0.6;
    margin: 0 auto 0 auto;
    width:50%;
    text-align: center;
    height: 90%;
    margin-top: 2%;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

div#messages_title{
    padding-top: 1%;
}

div#messagesDiv{
    border: 1px solid lightgrey;
    border-radius: 2px; width: 87%;
    height: 72%;
    margin: 0 auto 20px auto;
    text-align: left;
    padding-left: 18px;
}

div#messagethingy{
    overflow: scroll;
    width: 100%;
    height: 100%;
}

input#message-text{
    display: inline-block;
    width: 79%;
    height: 24px;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

button#buttonthing{
    display: inline-block;
    width: 10%;
    height: 24px;
    color: white;
    background-color: #15004c;
    border: none;
    border-radius: 2px;
    transition:all 0.3s ease;
}

button#deletebutton{
    display: inline-block;
    width: 10%;
    height: 24px;
    color: white;
    background-color: #15004c;
    border: none;
    border-radius: 2px;
    transition:all 0.3s ease;
    margin-top: 40px;
}

button#buttonthing:active{
    background-color: #27008e;
}